<!DOCTYPE html>
 <html>
   <head>
     <title>Rough Note || all your note at one place</title>
     <!--Import Google Icon Font-->
     <!-- Compiled and minified CSS -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

   <body>
<div class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark shadow" style="margin-bottom:10px;">
<a class="navbar-brand " href="/"><strong style="color: white;">Rough</strong><i style="color:red;">Note</i></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul class="navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="/notes" style="color:white;">Notes <span class="sr-only">(current)</span></a>
  </li>


</ul>
</div>
</nav>
</div>

<% if(msg != undefined){ %>
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong><%= msg %></strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
<% } %>
     <div class="row">
  <div class="col-8 bg-dark shadow ">
    <table class="table table-dark responsive">
      <thead>
        <tr>
          <th >#</th>
          <th>Url</th>
          <th >Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <%var j = 0, k=0 %>
        <% links.forEach(function(link){  j++ %>
        <tr>
          <td><%= j %></td>
          <td >
            <table>
              <tbody>
                <% for (var i = 0; i < link.url.length; i++) { %>
                    <tr>
                      <td>  <a class="text-danger" id="url<%= ++k %>" target="blank" href=" <%= link.url[i]  %>"> <%= link.url[i]  %> </a></td>
                      <td>
                            <button data-toggle="tooltip" data-placement="bottom" title="copy: <%= link.url[i]  %>" onclick="copy('#url<%= k %>')" id="btn2" class="btn btn-success" >

                                 <i class="fa fa-copy" aria-hidden="true"></i></button>
                               </td>
                    </tr>

                <% }  %>
              </tbody>
            </table>

          </td>

          <td> <a href="/links/<%= link._id  %>" class="btn btn-info">
               <i class="fa fa-pencil" aria-hidden="true"></i></a></td>
               <td>
                    <form action="/links/delete/<%= link._id %>?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-danger">
                       <i class="fa fa-trash" aria-hidden="true"></i>
                     </button>
                     </form>
                      </td>
        </tr>
        <%});  %>
      </tbody>

    </table>

  </div>
  <div class="col-4">
    <div class="card shadow" style="width: 18rem;">
   <div class="card-body">
   <h5 class="card-title"> Add Note</h5>
   <form class="" action="/links" method="post">
   <div class="form-group">
   <label>URL</label>
   <input type="text" class="form-control" name="url" placeholder="name"  data-role="tagsinput">
   </div>

   <button type="submit" class="btn btn-primary">Submit</button>
   </form>
   </div>
  </div>
</div>:
<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
  <div class="toast" style="position: absolute; top: 0; right: 0;">
    <div class="toast-header">
      <img src="..." class="rounded mr-2" alt="...">
      <strong class="mr-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
<script>
  function copy(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    $('.toast').toast('show');
    document.execCommand("copy");

    $temp.remove();
  }

$(document).ready(function(){
  console.log("just clicked");
  $("btn2").click(function(){

    $('.toast').toast('show');
  });
});
</script>


     </body>
 </html>
